In [149]:
import numpy as np
import pandas as pd

df = pd.read_csv('Documents/DSandAI/Assignments/Titanic-train.csv')

#Converts Series to numpy array after filling Null values as 0
fare = df['Fare'].fillna(0).to_numpy()

#Numpy Array Element Sum
TotalFare = np.sum(fare)

print('\nWhat is the total fare paid by all passengers? ',np.round(TotalFare,2))

print('\n---------------------------------------------------------------------')

#Converts Series to numpy array after filling Null values as 0
age = df['Age'].fillna(0).to_numpy()

#Using Series.min() and Series.max(), also getting the index using Series.argmin()  and Series.argmax()
print('\nYoungest Passenger Age: ',df['Age'].min(),' Its Index Value : ',df['Age'].argmin())

print('\nOldest Passenger Age: ',df['Age'].max(),' Its Index Value : ',df['Age'].argmax())

print('\nLets see who are those passengers:')

#Extracting the Rows from Dataframe where the Youngest and Oldest value matches the rows Age column
print('\nYoungest Passengers:\n\n',df[(df['Age']==df['Age'].min())])

print('\nOldest Passengers:\n\n',df[(df['Age']==df['Age'].max())])

#print(df.iloc[[df['Age'].argmin(),df['Age'].argmax()],:])

#print(df.loc[[df['Age'].argmin(),df['Age'].argmax()]])

print('\n---------------------------------------------------------------------')

print('\nMin Fare: ',df['Fare'].min(skipna=True),' Its Index Value : ',df['Fare'].argmin())

print('\nMax Fare: ',df['Fare'].max(),' Its Index Value : ',df['Fare'].argmax())

print('\nLets see who are those passengers:\n')

print('\nPassengers who paid Minimum Fare:\n\n',df[(df['Fare']==df['Fare'].min(skipna=True))])

print('\nPassengers who paid Maximum Fare:\n\n',df[(df['Fare']==df['Fare'].max())])

#print(df.iloc[[df['Fare'].argmin(),df['Fare'].argmax()],:])

#print(df.loc[[df['Fare'].argmin(),df['Fare'].argmax()]])

print('\n---------------------------------------------------------------------')

#Numpy subtract array
fareSubAge = np.subtract(fare,age)
                        
print('\nMin and Max values of the difference of Age from Fare Columns:\n')
    
print(fareSubAge.min(),' ',fareSubAge.max(),' ')

#print('\nIndex of Min Value is: ',np.argmin(fareSubAge),'\nIndex of Max Value is: ',np.argmax(fareSubAge))

#print(df.iloc[[258,851],[1,2,3,4,5,6,7,9,11]])

minFareSubAge = fareSubAge.min()

maxfareSubAge = fareSubAge.max()

IndexOfMins = np.where(fareSubAge==minFareSubAge)[0]

IndexOfMaxs = np.where(fareSubAge==maxfareSubAge)[0]

print('\nPassengers whose Fare-Age difference is the Min Value:\n\n',df.iloc[IndexOfMins,[1,2,3,4,5,6,7,9,11]])

print('\nPassengers whose Fare-Age difference is the Max Value:\n\n',df.iloc[IndexOfMaxs,[1,2,3,4,5,6,7,9,11]])

print('\n---------------------------------------------------------------------')

print('\n\nMultiply the \'SibSp\' column (number of siblings/spouses aboard) with the \'Parch\' column (number of parents/children aboard). What does the resulting column represent?\n')

SiblingOrSpouse = df['SibSp'].fillna(0).to_numpy()

ParentOrChldrn = df['Parch'].fillna(0).to_numpy()

result = np.multiply(SiblingOrSpouse,ParentOrChldrn)

#resultarray = np.array([SiblingOrSpouse,ParentOrChldrn,result])

#Tresultarray = resultarray.T

#print(Tresultarray[50:100,:])

print(np.count_nonzero(result),' Passengers Travelled with more members from their families, either with their \n(Siblings and Parents) OR \n(Siblings and Children) OR \n(Spouse and Children) OR \n(Spouse and Parents).')

#Transpose of the array is taken and then the index of nonzero elements are found, returned as a tuple
nonzeroIndexs = np.nonzero(result.T)

#tuple to 2darray and 2d flattened to 1d array to be used as row index for DataFrame
arr=np.asarray(nonzeroIndexs).flatten()

moreFamily = df.iloc[arr,[1,2,4,5,6,7,9,11]]

print('\nDetails of the passengers who travelled with more family members are:\n',moreFamily.to_string())

#print(moreFamily.shape)

print('\n---------------------------------------------------------------------')

#fare/pclass, division by zero not possible hence not filling null values with zero
pclass = df['Pclass'].to_numpy()

#check how many NaN or null present
#np.count_nonzero(np.isnan(pclass))
if np.count_nonzero(np.isnan(pclass))==0:
    print('No blank values in the Pclass array')
else:    
    print('Pclass array has blank values and the count is = ',np.count_nonzero(np.isnan(pclass)))

#print(fare.shape,'',pclass.shape)    
fareByPclass = np.divide(fare,pclass)
print('\n\n',fareByPclass)

What is the total fare paid by all passengers?  28693.95

---------------------------------------------------------------------

Youngest Passenger Age:  0.42  Its Index Value :  803

Oldest Passenger Age:  80.0  Its Index Value :  630

Lets see who are those passengers:

Youngest Passengers:

      PassengerId  Survived  Pclass                             Name   Sex  \
803          804         1       3  Thomas, Master. Assad Alexander  male

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
803  0.42      0      1   2625  8.5167   NaN        C

Oldest Passengers:

      PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson

      Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
630  male  80.0      0      0  27042  30.0   A23        S

---------------------------------------------------------------------

Min Fare:  0.0  Its Index Value :  179

Max Fare:  512.3292  Its Index Value :  258

Lets see who are those passengers:


Passengers who paid Minimum Fare:

      PassengerId  Survived  Pclass                              Name   Sex  \
179          180         0       3               Leonard, Mr. Lionel  male
263          264         0       1             Harrison, Mr. William  male
271          272         1       3      Tornquist, Mr. William Henry  male
277          278         0       2       Parkes, Mr. Francis "Frank"  male
302          303         0       3   Johnson, Mr. William Cahoone Jr  male
413          414         0       2    Cunningham, Mr. Alfred Fleming  male
466          467         0       2             Campbell, Mr. William  male
481          482         0       2  Frost, Mr. Anthony Wood "Archie"  male
597          598         0       3               Johnson, Mr. Alfred  male
633          634         0       1     Parr, Mr. William Henry Marsh  male
674          675         0       2        Watson, Mr. Ennis Hastings  male
732          733         0       2              Knight, Mr. Robert J  male
806          807         0       1            Andrews, Mr. Thomas Jr  male
815          816         0       1                  Fry, Mr. Richard  male
822          823         0       1   Reuchlin, Jonkheer. John George  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
179  36.0      0      0    LINE   0.0   NaN        S
263  40.0      0      0  112059   0.0   B94        S
271  25.0      0      0    LINE   0.0   NaN        S
277   NaN      0      0  239853   0.0   NaN        S
302  19.0      0      0    LINE   0.0   NaN        S
413   NaN      0      0  239853   0.0   NaN        S
466   NaN      0      0  239853   0.0   NaN        S
481   NaN      0      0  239854   0.0   NaN        S
597  49.0      0      0    LINE   0.0   NaN        S
633   NaN      0      0  112052   0.0   NaN        S
674   NaN      0      0  239856   0.0   NaN        S
732   NaN      0      0  239855   0.0   NaN        S
806  39.0      0      0  112050   0.0   A36        S
815   NaN      0      0  112058   0.0  B102        S
822  38.0      0      0   19972   0.0   NaN        S

Passengers who paid Maximum Fare:

      PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
737          738         1       1              Lesurer, Mr. Gustave J

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C

---------------------------------------------------------------------

Min and Max values of the difference of Age from Fare Columns:

-66.225   477.3292

Passengers whose Fare-Age difference is the Min Value:

      Survived  Pclass                 Name   Sex   Age  SibSp  Parch   Fare  \
851         0       3  Svensson, Mr. Johan  male  74.0      0      0  7.775

    Embarked
851        S

Passengers whose Fare-Age difference is the Max Value:

      Survived  Pclass                    Name     Sex   Age  SibSp  Parch  \
258         1       1        Ward, Miss. Anna  female  35.0      0      0
737         1       1  Lesurer, Mr. Gustave J    male  35.0      0      0

         Fare Embarked
258  512.3292        C
737  512.3292        C

---------------------------------------------------------------------


Multiply the 'SibSp' column (number of siblings/spouses aboard) with the 'Parch' column (number of parents/children aboard). What does the resulting column represent?

142  Passengers Travelled with more members from their families, either with their
(Siblings and Parents) OR
(Siblings and Children) OR
(Spouse and Children) OR
(Spouse and Parents).

Details of the passengers who travelled with more family members are:
      Survived  Pclass     Sex    Age  SibSp  Parch      Fare Embarked
7           0       3    male   2.00      3      1   21.0750        S
10          1       3  female   4.00      1      1   16.7000        S
13          0       3    male  39.00      1      5   31.2750        S
16          0       3    male   2.00      4      1   29.1250        Q
24          0       3  female   8.00      3      1   21.0750        S
25          1       3  female  38.00      1      5   31.3875        S
27          0       1    male  19.00      3      2  263.0000        S
43          1       2  female   3.00      1      2   41.5792        C
50          0       3    male   7.00      4      1   39.6875        S
58          1       2  female   5.00      1      2   27.7500        S
59          0       3    male  11.00      5      2   46.9000        S
63          0       3    male   4.00      3      2   27.9000        S
65          1       3    male    NaN      1      1   15.2458        C
68          1       3  female  17.00      4      2    7.9250        S
71          0       3  female  16.00      5      2   46.9000        S
86          0       3    male  16.00      1      3   34.3750        S
88          1       1  female  23.00      3      2  263.0000        S
93          0       3    male  26.00      1      2   20.5750        S
119         0       3  female   2.00      4      2   31.2750        S
128         1       3  female    NaN      1      1   22.3583        C
145         0       2    male  19.00      1      1   36.7500        S
147         0       3  female   9.00      2      2   34.3750        S
159         0       3    male    NaN      8      2   69.5500        S
164         0       3    male   1.00      4      1   39.6875        S
167         0       3  female  45.00      1      4   27.9000        S
171         0       3    male   4.00      4      1   29.1250        Q
172         1       3  female   1.00      1      1   11.1333        S
175         0       3    male  18.00      1      1    7.8542        S
176         0       3    male    NaN      3      1   25.4667        S
180         0       3  female    NaN      8      2   69.5500        S
182         0       3    male   9.00      4      2   31.3875        S
183         1       2    male   1.00      2      1   39.0000        S
188         0       3    male  40.00      1      1   15.5000        Q
193         1       2    male   3.00      1      1   26.0000        S
201         0       3    male    NaN      8      2   69.5500        S
229         0       3  female    NaN      3      1   25.4667        S
233         1       3  female   5.00      4      2   31.3875        S
248         1       1    male  37.00      1      1   52.5542        S
251         0       3  female  29.00      1      1   10.4625        S
261         1       3    male   3.00      4      2   31.3875        S
262         0       1    male  52.00      1      1   79.6500        S
266         0       3    male  16.00      4      1   39.6875        S
278         0       3    male   7.00      4      1   29.1250        Q
279         1       3  female  35.00      1      1   20.2500        S
297         0       1  female   2.00      1      2  151.5500        S
305         1       1    male   0.92      1      2  151.5500        S
311         1       1  female  18.00      2      2  262.3750        C
312         0       2  female  26.00      1      1   26.0000        S
314         0       2    male  43.00      1      1   26.2500        S
319         1       1  female  40.00      1      1  134.5000        C
323         1       2  female  22.00      1      1   29.0000        S
324         0       3    male    NaN      8      2   69.5500        S
328         1       3  female  31.00      1      1   20.5250        S
340         1       2    male   2.00      1      1   26.0000        S
341         1       1  female  24.00      3      2  263.0000        S
348         1       3    male   3.00      1      1   15.9000        S
352         0       3    male  15.00      1      1    7.2292        C
360         0       3    male  40.00      1      4   27.9000        S
374         0       3  female   3.00      3      1   21.0750        S
386         0       3    male   1.00      5      2   46.9000        S
390         1       1    male  36.00      1      2  120.0000        S
407         1       2    male   3.00      1      1   18.7500        S
409         0       3  female    NaN      3      1   25.4667        S
416         1       2  female  34.00      1      1   32.5000        S
423         0       3  female  28.00      1      1   14.4000        S
424         0       3    male  18.00      1      1   20.2125        S
435         1       1  female  14.00      1      2  120.0000        S
436         0       3  female  21.00      2      2   34.3750        S
437         1       2  female  24.00      2      3   18.7500        S
438         0       1    male  64.00      1      4  263.0000        S
440         1       2  female  45.00      1      1   26.2500        S
448         1       3  female   5.00      2      1   19.2583        C
450         0       2    male  36.00      1      2   27.7500        S
469         1       3  female   0.75      2      1   19.2583        C
472         1       2  female  33.00      1      2   27.7500        S
480         0       3    male   9.00      5      2   46.9000        S
485         0       3  female    NaN      3      1   25.4667        S
489         1       3    male   9.00      1      1   15.9000        S
498         0       1  female  25.00      1      2  151.5500        S
529         0       2    male  23.00      2      1   11.5000        S
530         1       2  female   2.00      1      1   26.0000        S
532         0       3    male  17.00      1      1    7.2292        C
541         0       3  female   9.00      4      2   31.2750        S
542         0       3  female  11.00      4      2   31.2750        S
548         0       3    male  33.00      1      1   20.5250        S
549         1       2    male   8.00      1      1   36.7500        S
558         1       1  female  39.00      1      1   79.6500        S
580         1       2  female  25.00      1      1   30.0000        S
581         1       1  female  39.00      1      1  110.8833        C
587         1       1    male  60.00      1      1   79.2000        C
595         0       3    male  36.00      1      1   24.1500        S
600         1       2  female  24.00      2      1   27.0000        S
608         1       2  female  22.00      1      2   41.5792        C
610         0       3  female  39.00      1      5   31.2750        S
615         1       2  female  24.00      1      2   65.0000        S
616         0       3    male  34.00      1      1   14.4000        S
618         1       2  female   4.00      2      1   39.0000        S
622         1       3    male  20.00      1      1   15.7417        C
634         0       3  female   9.00      3      2   27.9000        S
637         0       2    male  31.00      1      1   26.2500        S
642         0       3  female   2.00      3      2   27.9000        S
644         1       3  female   0.75      2      1   19.2583        C
657         0       3  female  32.00      1      1   15.5000        Q
670         1       2  female  40.00      1      1   39.0000        S
678         0       3  female  43.00      1      6   46.9000        S
683         0       3    male  14.00      5      2   46.9000        S
684         0       2    male  60.00      1      1   39.0000        S
685         0       2    male  25.00      1      2   41.5792        C
686         0       3    male  14.00      4      1   39.6875        S
698         0       1    male  49.00      1      1  110.8833        C
709         1       3    male    NaN      1      1   15.2458        C
736         0       3  female  48.00      1      3   34.3750        S
742         1       1  female  21.00      2      2  262.3750        C
745         0       1    male  70.00      1      1   71.0000        S
746         0       3    male  16.00      1      1   20.2500        S
750         1       2  female   4.00      1      1   23.0000        S
754         1       2  female  48.00      1      2   65.0000        S
755         1       2    male   0.67      1      1   14.5000        S
763         1       1  female  36.00      1      2  120.0000        S
774         1       2  female  54.00      1      3   23.0000        S
783         0       3    male    NaN      1      2   23.4500        S
787         0       3    male   8.00      4      1   29.1250        Q
788         1       3    male   1.00      1      2   20.5750        S
792         0       3  female    NaN      8      2   69.5500        S
799         0       3  female  30.00      1      1   24.1500        S
801         1       2  female  31.00      1      1   26.2500        S
802         1       1    male  11.00      1      2  120.0000        S
813         0       3  female   6.00      4      2   31.2750        S
817         0       2    male  31.00      1      1   37.0042        C
819         0       3    male  10.00      3      2   27.9000        S
820         1       1  female  52.00      1      1   93.5000        S
824         0       3    male   2.00      4      1   39.6875        S
831         1       2    male   0.83      1      1   18.7500        S
835         1       1  female  39.00      1      1   83.1583        C
846         0       3    male    NaN      8      2   69.5500        S
850         0       3    male   4.00      4      2   31.2750        S
852         0       3  female   9.00      1      1   15.2458        C
856         1       1  female  45.00      1      1  164.8667        S
863         0       3  female    NaN      8      2   69.5500        S
869         1       3    male   4.00      1      1   11.1333        S
871         1       1  female  47.00      1      1   52.5542        S
888         0       3  female    NaN      1      2   23.4500        S

---------------------------------------------------------------------
No blank values in the Pclass array


 [  2.41666667  71.2833       2.64166667  53.1          2.68333333
   2.81943333  51.8625       7.025        3.7111      15.0354
   5.56666667  26.55         2.68333333  10.425        2.61806667
   8.           9.70833333   6.5          6.           2.40833333
  13.           6.5          2.6764      35.5          7.025
  10.4625       2.40833333 263.           2.6264       2.63193333
  27.7208     146.5208       2.58333333   5.25        82.1708
  52.           2.40973333   2.68333333   6.           3.74723333
   3.15833333  10.5          2.63193333  20.7896       2.6264
   2.68333333   5.16666667   2.58333333   7.2264       5.93333333
  13.22916667   2.6         76.7292      13.          61.9792
  35.5          5.25         2.40973333  13.875       15.63333333
   2.40973333  80.          83.475        9.3         27.7208
   5.08193333   5.25         2.71943333   2.64166667   2.8875
   5.25        15.63333333  36.75         4.81806667  18.83193333
   2.55         2.63193333   2.68333333  14.5          4.15833333
   3.           3.16666667   2.59583333  47.1          5.25
   5.28333333  11.45833333   2.68333333 263.           2.68333333
   2.68333333   2.61806667  61.175        6.85833333   2.41666667
   2.68333333  34.6542      63.3583      11.5         13.
   2.63193333   2.63193333  77.2875       2.88473333   2.64166667
   2.63193333   2.55         2.59166667   2.63193333   8.05
  52.           4.81806667   2.68333333   3.275        4.81943333
   2.64166667   2.58333333  10.5        247.5208      10.425
  36.75         2.68333333  15.0354       6.5         77.2875
   3.74723333   2.58333333   2.38056667   7.45276667   2.325
   2.63193333   2.35         4.83333333  13.           6.5
   7.5229      26.2833      53.1          3.07223333  79.2
   5.08193333   2.58333333   5.28333333   2.25         5.75
  18.375        2.5986      11.45833333  13.           6.5
   6.2625      66.6          2.68333333   4.83333333   2.4375
  61.3792       2.57776667   2.68333333   2.8875      23.18333333
   5.36666667   7.875        2.59166667   2.8875      13.22916667
   6.84166667  55.           9.3         25.925       18.83193333
  33.5          9.70833333   3.7111       2.64166667  30.6958
   2.61806667   8.4889      28.7125       6.5          0.
  23.18333333   7.525       10.4625      19.5          7.34166667
  50.           5.16666667  26.55         5.16666667   2.63193333
   6.5          6.5          2.61806667  13.          27.7208
 146.5208       2.58333333   2.8014       2.58333333   6.5
   3.16666667  23.18333333   2.16526667   2.40833333   2.68333333
   3.4875       5.28333333   6.2625       2.58333333  31.
   2.35        10.5          2.41666667   6.5          2.58333333
 113.275        2.64166667  13.5         76.2917       5.25
   2.68333333   6.5          2.68333333   2.63193333  90.
   3.11666667   5.25         2.41666667   6.5          8.4889
  83.475        2.59166667   6.75        10.4625       5.25
   2.51666667  13.          13.125        5.25         6.1375
   4.81806667   5.16666667   5.25         2.375        2.40833333
  90.           2.59166667   7.25        52.5542      13.
   2.41666667   3.4875      26.55         5.36666667   6.7375
   5.08193333  79.2         86.5        512.3292      13.
   2.58333333  10.4625      79.65         0.           2.58333333
   5.25        13.22916667   2.59166667 153.4625     135.6333
  31.           0.           9.75        29.7          2.58333333
  77.9583       2.58333333   0.           9.70833333   6.75
   2.58333333   2.61806667   3.16666667   2.68333333  26.
   2.8875       3.16666667   2.63193333   6.5          2.58333333
  78.85        91.0792       6.4375       2.95         2.63193333
  27.7208       2.40973333 151.55        30.5        247.5208
   2.58333333   7.75         0.           6.175        2.68333333
 151.55       110.8833     108.9         12.          56.9292
  83.1583     262.375       13.           2.63193333  13.125
   2.61806667  13.           7.         164.8667     134.5
   2.41666667   2.63193333   6.175       14.5         23.18333333
 135.6333       2.07916667   6.5          6.84166667  57.9792
   7.75        28.5        153.4625       6.         133.65
   2.63193333  66.6        134.5          2.68333333  35.5
  13.         263.           6.5          6.5          6.5
   6.5          6.5          5.36666667   5.3          2.8875
   3.075       35.           2.40973333   5.93333333   2.40833333
   3.16666667  55.           6.5          2.6264       2.6264
   9.3         13.8604       4.81806667   2.35         5.16666667
   2.41666667  75.25         2.40973333   2.58333333  69.3
  55.4417       2.16526667   2.68333333 135.6333       7.025
  82.1708       2.41666667 211.5          1.3375       2.59166667
 227.525        5.24723333   2.64166667  52.           2.63193333
  36.75        15.63333333   6.5          2.5764       6.

In [150]:
import numpy as np
import pandas as pd

df = pd.read_csv('Documents/DSandAI/Assignments/Titanic-train.csv')

#Converts Series to numpy array after filling Null values as 0
fare = df['Fare'].fillna(0).to_numpy()

#Converts Series to numpy array after filling Null values as 0
age = df['Age'].fillna(0).to_numpy()

#AgeFare = np.array([age,fare]).T
AgeFare = np.array([age,fare])

#print(fare.shape,'   ',age.shape,'   ',AgeFare.shape)
#print('\n',age[0:5],'\n\n',fare[0:5],'\n\n',AgeFare[:,0:5])

print('\nSize of the Age and Fare Array is: ',AgeFare.shape,' and its dimension is: ',AgeFare.ndim) 
print('\n----------------------------------------------------------------------------------------')

AgeFareM10 = np.multiply(AgeFare,10)

print('\nElement-wise multiplication on the 2D Age and Fare Array will push one decimal place of the elements in the array.\n\n',AgeFareM10[:,0:5])
#print('\n',age[0:5],'\n\n',fare[0:5],'\n\n',AgeFare[:,0:5],'\n\n',AgeFareM10[:,0:5])
print('\n----------------------------------------------------------------------------------------')

AgeFareT = AgeFare.T

print('\nSize of the Transposed Age and Fare Array is: ',AgeFareT.shape,' and its dimension is: ',AgeFareT.ndim)

Size of the Age and Fare Array is:  (2, 891)  and its dimension is:  2

----------------------------------------------------------------------------------------

Element-wise multiplication on the 2D Age and Fare Array will push one decimal place of the elements in the array.

 [[220.    380.    260.    350.    350.   ]
 [ 72.5   712.833  79.25  531.     80.5  ]]

----------------------------------------------------------------------------------------

Size of the Transposed Age and Fare Array is:  (891, 2)  and its dimension is:  2

In [40]:
import numpy as np
import pandas as pd

df = pd.read_csv('Documents/DSandAI/Assignments/Titanic-train.csv')

#print(len(df.index),' OR ',df.shape[0])

randomRowIndexs = np.random.randint(low=0,high=df.shape[0],size=5)

print('\nRandom Row Indexs are: ',randomRowIndexs)
#Random Row Indexs are:  [316 671 448 422 504]

CustomRecords = df.iloc[randomRowIndexs,[1,2,3,4,5]]

print('\nCustomRecords with 5 random rows from the original data is:\n\n',CustomRecords)

Random Row Indexs are:  [456  22 564 131 563]

CustomRecords with 5 random rows from the original data is:

      Survived  Pclass                            Name     Sex   Age
456         0       1       Millet, Mr. Francis Davis    male  65.0
22          1       3     McGowan, Miss. Anna "Annie"  female  15.0
564         0       3  Meanwell, Miss. (Marion Ogden)  female   NaN
131         0       3  Coelho, Mr. Domingos Fernandeo    male  20.0
563         0       3               Simmons, Mr. John    male   NaN

----------------------------------------------------------------------------------------

In [152]:
import numpy as np
import pandas as pd

df = pd.read_csv('Documents/DSandAI/Assignments/Titanic-train.csv')

#printing first 10 records from the DataFrame
print(df.head(10))

#printing the count of rows and columns of the DataFrame (RowCount,ColumnCount)
print('\n\n',df.shape)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C


 (891, 12)

In [107]:
import numpy as np
import pandas as pd

df = pd.read_csv('Documents/DSandAI/Assignments/Titanic-train.csv')

#prints column names if all the elements of that column is null
#empty_columns = df.isnull().all(axis=0)
#print(empty_columns)

columnNamesList = []
    
for column_name in df:
    if(df[pd.isnull(df[column_name])].size > 0):
        columnNamesList.append(column_name)

print('\nColumns having Null values are: ',columnNamesList)    

#columnNameArr = np.array(columnNamesList)

#print(df.describe(include='all'))
dfDescribe = df.describe(include='all')

#print(type(dfDescribe.loc['top','Cabin']))
df['Age'].fillna(0,inplace=True)
df['Cabin'].fillna(dfDescribe.loc['top','Cabin'],inplace=True)
df['Embarked'].fillna(dfDescribe.loc['top','Embarked'],inplace=True)

columnNamesList = []
for column_name in df:
    if(df[pd.isnull(df[column_name])].size > 0):
        columnNamesList.append(column_name)

print('\nColumns having Null values after removing them are: ',columnNamesList)

Columns having Null values are:  ['Age', 'Cabin', 'Embarked']

Columns having Null values after removing them are:  []

In [147]:
import numpy as np
import pandas as pd

df = pd.read_csv('Documents/DSandAI/Assignments/Titanic-train.csv')

ageFilterDF = df.loc[(df['Age']>=20)&(df['Age']<=30)]

#This is another way to do it,using the boolean mask returned by the operation on the dataframe
#print(df[(df['Age']>=20)&(df['Age']<=30)])

print('\nNumber of rows having Age between 20 and 30 are: ',ageFilterDF.shape[0])

print('\n\n',ageFilterDF.head())

print('\n----------------------------------------------------------------------------------------')

FareSortedDF = df.sort_values("Fare", axis=0, ascending=False)

print('\nDF sorted with Fare Descending \n\n',FareSortedDF)

print('\n----------------------------------------------------------------------------------------')

#Groups the DataFrame by the Pclass column
print('\nGroupBy Fataframe by Pclass result is: \n\n',df.groupby('Pclass').groups)

FareGrpByPclass = df['Fare'].groupby(df['Pclass'])

print('\n\nGrouping the Fare column by Pclass and the Fare mean value for each class is:\n\n',FareGrpByPclass.mean())

Number of rows having Age between 20 and 30 are:  245


     PassengerId  Survived  Pclass  \
0             1         0       3
2             3         1       3
8             9         1       3
12           13         0       3
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
12                     Saundercock, Mr. William Henry    male  20.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch            Ticket     Fare Cabin Embarked
0       0         A/5 21171   7.2500   NaN        S
2       0  STON/O2. 3101282   7.9250   NaN        S
8       2            347742  11.1333   NaN        S
12      0         A/5. 2151   8.0500   NaN        S
23      0            113788  35.5000    A6        S

----------------------------------------------------------------------------------------

DF sorted with Fare Descending

      PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
88            89         1       1          Fortune, Miss. Mabel Helen
27            28         0       1      Fortune, Mr. Charles Alexander
..           ...       ...     ...                                 ...
633          634         0       1       Parr, Mr. William Henry Marsh
413          414         0       2      Cunningham, Mr. Alfred Fleming
822          823         0       1     Reuchlin, Jonkheer. John George
732          733         0       2                Knight, Mr. Robert J
674          675         0       2          Watson, Mr. Ennis Hastings

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S
..      ...   ...    ...    ...       ...       ...          ...      ...
633    male   NaN      0      0    112052    0.0000          NaN        S
413    male   NaN      0      0    239853    0.0000          NaN        S
822    male  38.0      0      0     19972    0.0000          NaN        S
732    male   NaN      0      0    239855    0.0000          NaN        S
674    male   NaN      0      0    239856    0.0000          NaN        S

[891 rows x 12 columns]

----------------------------------------------------------------------------------------

GroupBy Fataframe by Pclass result is:

 {1: [1, 3, 6, 11, 23, 27, 30, 31, 34, 35, 52, 54, 55, 61, 62, 64, 83, 88, 92, 96, 97, 102, 110, 118, 124, 136, 137, 139, 151, 155, 166, 168, 170, 174, 177, 185, 187, 194, 195, 209, 215, 218, 224, 230, 245, 248, 252, 256, 257, 258, 262, 263, 268, 269, 270, 273, 275, 284, 290, 291, 295, 297, 298, 299, 305, 306, 307, 309, 310, 311, 318, 319, 325, 329, 331, 332, 334, 336, 337, 339, 341, 351, 356, 366, 369, 370, 373, 375, 377, 380, 383, 390, 393, 412, 430, 434, 435, 438, 445, 447, ...], 2: [9, 15, 17, 20, 21, 33, 41, 43, 53, 56, 58, 66, 70, 72, 78, 84, 98, 99, 117, 120, 122, 123, 133, 134, 135, 144, 145, 148, 149, 150, 161, 178, 181, 183, 190, 191, 193, 199, 211, 213, 217, 219, 221, 226, 228, 232, 234, 236, 237, 238, 239, 242, 247, 249, 259, 265, 272, 277, 288, 292, 303, 308, 312, 314, 316, 317, 322, 323, 327, 340, 342, 343, 344, 345, 346, 357, 361, 385, 387, 389, 397, 398, 399, 405, 407, 413, 416, 417, 418, 426, 427, 432, 437, 439, 440, 443, 446, 450, 458, 463, ...], 3: [0, 2, 4, 5, 7, 8, 10, 12, 13, 14, 16, 18, 19, 22, 24, 25, 26, 28, 29, 32, 36, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 57, 59, 60, 63, 65, 67, 68, 69, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 93, 94, 95, 100, 101, 103, 104, 105, 106, 107, 108, 109, 111, 112, 113, 114, 115, 116, 119, 121, 125, 126, 127, 128, 129, 130, 131, 132, 138, 140, 141, 142, 143, 146, 147, 152, 153, 154, 156, 157, 158, 159, ...]}


Grouping the Fare column by Pclass and the Fare mean value for each class is:

 Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64